.editorStyle {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  height: 500px;
}

.editorStyle ::content {
  overflow: scroll;
}

#editor {
  background-color: whitesmoke;
}

#ql-font {
  background-color: #cd6133;
  border-radius: 50px;
  color: #f7f1e3;
  text-align: left;
  margin-right: 5px;
}

#ql-font option {
  padding-right: 5px;
}

#ql-size {
  background-color: #0a3d62;
  border-radius: 50px;
  color: #f7f1e3;
  text-align: center;
}

#ql-font-format {
  background-color: #ffda79;
  border-radius: 50px;
  color: #f7f1e3;
  text-align: left;
  margin-right: 5px;
}

#ql-font-format option {
  color: #f7f1e3;
  padding: 5px;
}

.ql-picker-options {
  color: #cd6133;
}

.ql-font .ql-picker-options {
  max-height: 200px;
  overflow: scroll;
}

.ql-size .ql-picker-options {
  max-height: 100px;
  overflow: scroll;
}

.ql-stroke {
  color: whitesmoke;
}

[data-title-tooltip~="data-title"] {
  position: relative;
  font-size: 15px;
  border-radius: 100%;
  color: #fff;
}
[data-title-tooltip~="data-title"]:before,
[data-title-tooltip~="data-title"]:after {
  position: absolute;
  content: "";
  opacity: 0;
  transition: all 0.4s ease;
}
[data-title-tooltip~="data-title"]:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #218c74 transparent transparent transparent;
  top: -10px;
  left: 10px;
  transform: translateY(20px);
}
[data-title-tooltip~="data-title"]:after {
  content: attr(data-title);
  background: #218c74;
  width: 160px;
  height: 40px;
  font-size: 13px;
  font-weight: 300;
  top: -50px;
  left: 5px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  color: whitesmoke;
  text-align: center;
  transform: translateY(-20px);
}
[data-title-tooltip~="data-title"]:hover::before,
[data-title-tooltip~="data-title"]:hover::after {
  opacity: 1;
  transform: translateY(2px);
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(3deg);
  }
  70% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

#cardPanel {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
}

#story-title {
  color: whitesmoke;
}

.select-dropdown {
  color: whitesmoke;
}
