<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/ext/images/icon.ico" type="image/icon" />
    <title><%= story.title %></title>
  </head>

  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link
    href="https://fonts.googleapis.com/css?family=Jomolhari&display=swap"
    rel="stylesheet"
  />

  <style>
    body {
      background: url("/ext/images/174348.jpg");
    }
    #title-div {
      background: url("/ext/images/174348.jpg");
      background-size: cover;
      background: rgba(255, 255, 255, 0.4);

      margin-top: 2%;
      font-family: "Jomolhari", serif;
    }
    #title-div .row {
      background-color: transparent;
      width: 100%;
      padding: 20px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      top: 0px;
    }

    /* #title-div,
    .row::before {
      background-image: url("/ext/images/174348.jpg");
      background-size: cover;
      /* opacity: 0.4; */

    .blur {
      filter: blur(5px);
      z-index: -1;
    }
    /* .txts {
      background: rgba(255, 255, 255, 0.3);
    } */
    #title-div h6 {
      margin-top: 8%;
      font-size: 50px;
    }

    /* #title-div,
    #reader-div {
       */

    #reader-div {
      background-color: #ffffff;
      margin-top: 2px;
    }
  </style>

  <body>
    <div class="container">
      <div id="title-div">
        <div class="row" style="background:inherit">
          <div class="txts">
            <div class="col s3">
              <img
                src="/ext/images/writter/writer-14-841725.png"
                height="200"
                style="border-radius: 50%"
              />
            </div>
            <div class="col s8">
              <h6><%= story.title.toUpperCase()%></h6>
              <span
                ><i
                  >~ by
                  <b style="color:#227093 "> <%= writer.fullName %> </b></i
                ></span
              >
            </div>
          </div>
        </div>
      </div>
      <div id="reader-div" class="card-panel " style="width:100%;">
        <span>
          <%- story.s_body.html%>
        </span>
      </div>
    </div>
  </body>
</html>
