<!DOCTYPE html>

<html>
  <head>
    <link
      rel="icon"
      href="/ext/images/icon.ico"
      type="image/ico"
      sizes="16x16"
    />
    <title>Welcome, Rokki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <!--############################################################-->
  <!-- All css file including bootstrap4-->

  <link href="/ext/css/bootstrap-lit.css" rel="stylesheet" />
  <link href="/ext/css/button.css" rel="stylesheet" />

  <!--############################################################-->

  <body style="min-width: 640px">
    <div class="container-fluid">
      <section id="cover-section">
        <!--#########################Nav-bar#################################-->
        <!------------------------------fixed navbar--------------------------------------->

        <nav
          class="navbar navbar-expand-lg navbar-dark  fixed-top"
          style="background-color: transparent"
        >
          <a class="navbar-brand" href="/"
            ><img src="/ext/images/logo-dark.png" height="64" width="64"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarColor03"
            aria-controls="navbarColor03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="nav navbar-nav  ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Downloads</a>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Story</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-info " href="/signup"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>
        </nav>

        <!-----------------------------------end---------------------------------------------->
        <!--####################################################################-->

        <div class="jumbotron jumbotron-fluid">
          <div class="parallax text-center">
            <div class="parallax-pattern-overlay">
              <div
                class="container text-center"
                style="height:580px;padding-top:170px;"
              >
                <!-- <a href="#"><img id="site-title" src="img/logo.png" alt="logo"/></a> -->
                <h1 class="display-4 text-secondary">Welcome To ROKKI!!</h1>
                <p class="lead">
                  Share your skill of writing and get feedback..
                </p>
                <hr class="my-4" />
                <p class="lead">
                  <!--after desktop version-->
                </p>
                <p class="lead">
                  <a class="btn btn-lg btn-outline-info" href="#" role="button"
                    >Downloads</a
                  >
                  &nbsp;|&nbsp;
                  <a class="btn btn-lg btn-primary" href="#" role="button"
                    >Explore</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>

  <style>
    body {
      background-image: url("/ext/images/bg2.png");
      background-size: cover;
      overflow: hidden;
    }

    .jumbotron {
      background-color: transparent;
    }
  </style>

  <!--############################################################-->
  <!-- All js file including bootstrap4-->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!--############################################################-->
</html>
