<link href="/ext/css/alert.css" rel="stylesheet" />

<% if(typeof errors !='undefined'){ %> <% errors.forEach((err)=>{ %>
<div class="alert warning" onclick="$(this).fadeOut(1000)">
  <%= err.msg%>
</div>

<%})%> <%}%> <% if( typeof success_msg != 'undefined' && success_msg!=''){%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
  Swal.fire("Congratulation", "<%= success_msg %>", "success");
</script>

<%}%> <% if( typeof error_msg != 'undefined' && error_msg!=''){%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script>
  Swal.fire("Sorry !!!", "<%= error_msg %>", "error");
</script>

<%}%> <% if( typeof error!= 'undefined' && error!=''){%>
<div class="alert error" onclick="$(this).fadeOut(1000)">
  <%= error%>
</div>

<%}%>
